@model UserSimpleDetailViewModel;

@{
    ViewData["Title"] = Model.User.FirstName + " " + Model.User.LastName;
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />

@{
    if (Model != null)
    {
        <table style="width:100%" class="table table-responsive table-striped table-bordered">
            <tr>
                <th class="col-sm-2">Full Name</th>
                <th class="col-sm-2">Email</th>
                <th class="col-sm-2">Phone Number</th>
                @if (User.Identity.IsAuthenticated == true && (User.IsInRole(Roles.Adviser.ToString()) || User.IsInRole(Roles.Admin.ToString())))
                {
                    <th class="col-sm-2">Personal Id. number</th>
                    <th class="col-sm-1">Age</th>
                }
            </tr>
            <tr>
                <td class="col-sm-2">@(Model.User.FirstName + " " + Model.User.LastName)</td>
                <td class="col-sm-2">@Model.User.Email</td>
                <td class="col-sm-2">@Model.User.PhoneNumber</td>
                @if (User.Identity.IsAuthenticated == true && (User.IsInRole(Roles.Adviser.ToString()) || User.IsInRole(Roles.Admin.ToString())))
                {
                    <td class="col-sm-2">@Model.User.PI_Number</td>
                    <td class="col-sm-1">@Model.User.Age</td>
                }
            </tr>
        </table>

        @if (Model.UserRoles.Contains(Roles.Adviser.ToString()))
        {
            <details>
                <summary>Contracts</summary>
                <div id="contracts_of_@Model.User.Id">
                    <table style="width:41.667%" class="table table-responsive table-bordered">
                        <tr>
                            <th class="col-sm-3">Colaboraion type</th>
                            <th class="col-sm-1">Count</th>
                        </tr>
                        <tr>
                            <td class="col-sm-3">Manages</td>
                            <td class="col-sm-1">@Model.ContractsManager.Count()</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3">Participates in</td>
                            <td class="col-sm-1">@Model.Participatings.Count()</td>
                        </tr>
                    </table>
                </div>
            </details>
        }
        <br />
        <br />
        <br />
    }
}
