@model IList<Contract>;

@{
    if (Model != null && Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <table style="width:100%" class="table table-responsive table-striped table-bordered">
                <tr>
                    <th class="col-sm-1">@nameof(Contract.RegistrationNumber)</th>
                    <th class="col-sm-1">@nameof(Contract.ConclusionDate)</th>
                    <th class="col-sm-1">@nameof(Contract.EfectiveDate)</th>
                    <th class="col-sm-1">@nameof(Contract.ExpiredDate)</th>
                    <th class="col-sm-1">@nameof(Institution)</th>
                    @if (ViewBag.User == "Manager" || ViewBag.User == "Admin" || ViewBag.User == "Admin" || ViewBag.User == "Participate")
                    {
                        <th class="col-sm-1">Clients Name</th>
                    }
                    @if (ViewBag.User == "Client" || ViewBag.User == "Admin" || ViewBag.User == "Admin" || ViewBag.User == "Participate")
                    {
                        <th class="col-sm-1">Manager Name</th>
                    }
                    @if (User.Identity.IsAuthenticated == true && (User.IsInRole(Roles.Adviser.ToString()) || User.IsInRole(Roles.Admin.ToString())))
                    {
                        <th class="col-sm-2">Action</th>
                    }
                </tr>
                <tr>
                    <td class="col-sm-1">@item.RegistrationNumber</td>
                    <td class="col-sm-1">@item.ConclusionDate.ToString("dd.MM.yyyy")</td>
                    <td class="col-sm-1">@item.EfectiveDate.ToString("dd.MM.yyyy")</td>
                    <td class="col-sm-1">@item.ExpiredDate.ToString("dd.MM.yyyy")</td>
                    <td class="col-sm-1">@item.Institution.Name</td>
                    @if (ViewBag.User == "Manager" || ViewBag.User == "Admin" || ViewBag.User == "Participate")
                    {
                        <td class="col-sm-1"><a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@item.Client.Id">@(item.Client.FirstName + " " + item.Client.LastName)</a></td>
                    }
                    @if (ViewBag.User == "Client" || ViewBag.User == "Admin" || ViewBag.User == "Participate")
                    {
                        <td class="col-sm-1"><a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@item.Manager.Id">@(item.Manager.FirstName + " " + item.Manager.LastName)</a></td>
                    }
                    @if (User.Identity.IsAuthenticated == true && (User.IsInRole(Roles.Adviser.ToString()) || User.IsInRole(Roles.Admin.ToString())))
                    {
                        <th class="col-sm-2">
                            <a asp-action="Edit" asp-route-id="@item.RegistrationNumber">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.RegistrationNumber">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RegistrationNumber">Delete</a>
                        </th>
                    }
                </tr>


            </table>

            <details>
                <summary>Participating</summary>
                <div id="participates_in_@item.RegistrationNumber">
                    <h4>Participating</h4>
                    <table style="width:41.667%" class="table table-responsive table-bordered">
                        <tr>
                            <th class="col-sm-3">Adviser Name</th>
                            <th class="col-sm-1">Email</th>
                            <th class="col-sm-1">Phone Number</th>
                            <th class="col-sm-2"></th>
                        </tr>

                        @{
                            foreach (var participatesIn in item.ParticipatesIn)
                            {
                                <tr>
                                    <td class="col-sm-3">@(participatesIn.User.FirstName + " " + participatesIn.User.LastName)</td>
                                    <td class="col-sm-1">@participatesIn.User.Email</td>
                                    <td class="col-sm-1">@participatesIn.User.PhoneNumber</td>
                                    <td class="col-sm-2"><a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@participatesIn.User.Id">Detail</a></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </details>
            <br />
            <br />
            <br />
        }
    }
    else
    {
        <h2>Contracts are empty!</h2>
    }
}